<!DOCTYPE html>
<html lang="en" dir="ltr">
<html>
  <head>
    <title>SoberRunner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1 class="logo"> â– â–‚ â–„ â–… â–† â–‡ â–ˆ ğ•Šğ• ğ•“ğ•–ğ•£ â„ğ•¦ğ•Ÿğ•Ÿğ•–ğ•£ â–ˆ â–‡ â–† â–… â–„ â–‚ â– </h1>
    <div class="text">Welcome to Sober runner</div>
    <%= yield %>
    <div class="copyright">
      Copyright 2019 Brunch Group
    </div>
  </body>
</html>
