<!DOCTYPE html>
<html>
  <head>
    <title>SoberRunner</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <h1 class="logo"> â– â–‚ â–„ â–… â–† â–‡ â–ˆ ğ•Šğ• ğ•“ğ•–ğ•£ â„ğ•¦ğ•Ÿğ•Ÿğ•–ğ•£ â–ˆ â–‡ â–† â–… â–„ â–‚ â– </h1>
  <div class="bg"></div>

  <a href="http://anetwork.ir" class="anetwork"></a>
  <div class="text"><a href="http://anetwork.ir">Welcome to Sober runner</a></div>

  <div class="finish">
    <br>

    <%= form_tag login_path do %>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
      <br>

      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <br>
<%= submit_tag "Login", data: { disable_with: "Please wait.." } %>


        <li><%= link_to "Sign up", signup_path %></li>
      <% end %>



    </div>





  <div class="copyright"> Copyright 2019 Brunch Group</div>

  <body>
    <%= yield %>

    
  </body>
</html>
